{% extends 'base.html.twig' %}

{% block body %}
    <h1>Logs list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.datetime|date }}</td>
                <td><a href="{{ path('user_show', {id: log.user.id}) }}">{{ log.user.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
