{% extends 'base.html.twig' %}

{% block body %}
    <h1>Log</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ log.datetime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('log_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
