{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <a href="{{ path('user_index') }}" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Back to the list
            </a>
        </div>
        <div class="col-sm-6">
            <h1 class="text-center">User creation</h1>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success pull-right" value="Create" />
    {{ form_end(form) }}


{% endblock %}
